<h1><%= @artist.name %></h1>
<h3>Songs: 
  <ul>
  <% @artist.songs.each do |song| %>
    <li><%= link_to song.title, song_path(song) %></li>
  <% end %>
  </ul>
</h3>
<h4>Song Count: <%= @artist.song_count %> </h4>
